@charset "UTF-8";

body{
    background: rgb(70, 142, 236);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.419);
}

div#res{
    margin-bottom: 15px;
}

img {
    width: 250px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: auto;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}